@model IEnumerable<ERP.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveredAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanceledAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveredAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanceledAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
